* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(15px);
  z-index: 99;
  line-height: 20px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
}

.nav-item {
  margin-left: 5px;
  margin-top: 15px;
}

.nav-link {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.nav-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.logo__color {
  color: #9a2ca0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section__header__main {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 90px;
  font-size: 45px;
  font-weight: 700;
  line-height: 67.5px;
}

.section__content__main {
  text-align: center;
  margin: 0 20px;
  margin-top: 2px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5d75;
}

.section__content__points{
  margin: 0 20px;
  margin-top: 2px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5d75;
  text-align:left;
}

.section__button__colored {
  background-color: #9a2ca0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  border-radius: 100px;
  color: white;
  padding: 8px 15px;
  border: 1px solid #9a2ca0;
  margin-bottom: 10px;
}

.section__button__text {
  font-weight: 500;
  color: #4f5d75;
  font-size: 20px;
  line-height: 30px;
  background-color: white;
  border: none;
  margin-left: 22px;
}

.banner__image__center {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 125px;
}

.section__card__outline {
  width: 309px;
  border-radius: 20px;
  /* box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1); */

  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  height: 341px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.section__card__outline:hover{
  transform: scale(1.10);
  transition: 0.2s ease-in-out;
}

.section__card__icon {
  text-align: center;
  margin: 27px 32px;
}

.section__card__header {
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  color: #9a2ca0;
  margin: 0 32px;
}

.section__card__content {
  margin: 12px 33px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #4f5d75;
}

.section__card__outline__none {
  width: 309px;
  border-radius: 20px;
  height: 341px;
  margin: 0 auto;
  margin-top: 40px;
}

.section__card__outline__none__header {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding: 0 10px;
  padding-top: 40px;
  color: #000000;
}

.section__card__outline__none__content {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding: 0 10px;
  padding-top: 20px;
  color: #4f5d75;
}
 
.footer-container {
  background-color: #9a2ca0;
}

.footer-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__desc {
  margin-top: 10px;
  margin-bottom: 50px;
  color: white;
}

.footer__content__copyright {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: #ffffff;
}
.footer-logo {
  padding: 10px;
  margin: 40px;
  text-align: center;
}

.community {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 45px;
  font-weight: 700;
  line-height: 67.5px;
}

@media only screen and (max-width: 768px) {
  .nav-logo {
    align-items: center;
    line-height: 15px;
    margin: 0 auto;
  }

  .navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    z-index: 99;
    margin-left: 0;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 2.8125rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .hidden {
    margin-top: 273px;
  }

  .nav-menu.active {
    left: 0;
    background-color: #ffffff;
  }

  .nav-item {
    margin: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (max-width: 380px) {
  .nav-logo {
    font-size: 25px;
    line-height: 10px;
  }
}
